<header>
  <span class="menu-btn" (click)="toggleMenu()">
    <button mat-mini-fab>
      <mat-icon>menu</mat-icon>
    </button>
  </span>
  <nav [class.active]="isMenuActive">
    <div class="logo-img">
      <img src="/assets/mini-logo.png" width="55px">
    </div>
    <div class="links">
      <a routerLink="/inicio">Início</a>
      <a routerLink="/imoveis">Imóveis</a>
      <a routerLink="/sobre">Sobre Nós</a>
      <a routerLink="/contato">Contato</a>
    </div>
    <button mat-flat-button>Login</button>
  </nav>
</header>