<section class="container-section">
  <div class="container-form">
    <div class="container-buttons-form">
        <button>
          Comprar
        </button>
        <button for="">
          Alugar
        </button>
    </div>
    <div class="imoveis-form">
        <div class="form-row">
            <label for="tipoImovel">Tipo de imóvel:</label>
            <select id="tipoImovel">
              <option value="">Tipo de imóvel</option>
              <option value="">Apartamento</option>
              <option value="">Barracão</option>
              <option value="">Cjto</option>
              <option value="">Loja</option>
              <option value="">Prédio</option>
              <option value="">Residência</option>
              <option value="">Sobrado</option>
              <option value="">Terreno</option>
            </select>
        </div>
        <div class="form-row">
            <label for="cidade">Cídade:</label>
            <input type="text" id="cidade" placeholder="Cídade" />
        </div>
        <div class="form-row">
            <label for="bairro">Bairro:</label>
            <input type="text" id="bairro" placeholder="Bairro"/>
        </div>
        <div class="form-row">
          <label for="quartos">Quartos:</label>
          <ul>
            <li>0+</li>
            <li>1+</li>
            <li>2+</li>
            <li>3+</li>
            <li>4+</li>
          </ul>
        </div>
        <div class="form-row">
          <label for="vagas">Vagas:</label>
          <ul>
            <li>0+</li>
            <li>1+</li>
            <li>2+</li>
            <li>3+</li>
            <li>4+</li>
          </ul>
        </div>
        <div class="form-row">
          <label for="suítes">Suítes:</label>
          <ul>
            <li>0+</li>
            <li>1+</li>
            <li>2+</li>
            <li>3+</li>
            <li>4+</li>
          </ul>
        </div>

        <hr>

        <div class="form-row">
          <label for="vlrMinimo">Valor mínimo:</label>
          <input type="number" id="vlrMinimo" placeholder="R$ 100.000.000,00" />
        </div>
        <div class="form-row">
          <label for="vlrMaximo">Valor máximo:</label>
          <input type="number" id="vlrMaximo" placeholder="R$ 500.000.000,00" />
        </div>

        <button>Aplicar</button>

        <hr>

        
        <div class="form-row" id="checkbox-area-mobiliado">
          <label for="area">Área:</label>
          <input type="checkbox"/><span>Útil</span>
          <input type="checkbox"/><span>Total</span>
        </div>

       
        <div class="form-row">
          <label for="area">De:</label>
          <input type="number" id="metros" placeholder="Ex: 100m²" />
        </div>

        <div class="form-row">
          <label for="area">Até:</label>
          <input type="number" id="metros" placeholder="Ex: 500m²" />
        </div>

        <button>Aplicar</button>
        
        <hr>

        
        <div class="form-row" id="checkbox-area-mobiliado">
          <label for="area">Mobiliado:</label>
          <input type="checkbox" id="mobiliado"/><span>Sim</span>
          <input type="checkbox" id="mobiliado"/><span>Não</span>
        </div>

        <hr>

        <button>Limpar Filtros</button>

        <hr>

        <div class="form-row">
          <label for="endereco">Endereço:</label>
          <input type="text" id="endereco" placeholder="Digite o nome da rua" />
        </div>

        <div class="form-row">
          <label for="codigo">Código:</label>
          <input type="number" id="codigo" placeholder="Ex: 00000.000" />
        </div>
    </div>
  </div>

  <div class="property-flex">
    <div class="property-card">
        <div class="property-type">12017.003 Terreno</div>
        <div class="property-details">
            <div class="property-location">Venezuela Guaratuba 258 - Guaratuba/PR</div>
            <div class="property-price">R$ 85.000,00</div>
            <div class="property-size">300,00m² total | 300,00m² útil</div>
        </div>
    </div>

    <div class="property-card">
        <div class="property-type">12115.001 Loja</div>
        <div class="property-details">
            <div class="property-location">Av. Sete de Setembro Reboucas 3146 - Curitiba/PR</div>
            <div class="property-price">R$ 120.000,00</div>
            <div class="property-size">32,67m² total | 20,54m² útil</div>
            <div class="property-parking">Sem vaga</div>
        </div>
    </div>

    <div class="property-card">
      <div class="property-type">12115.001 Loja</div>
      <div class="property-details">
          <div class="property-location">Av. Sete de Setembro Reboucas 3146 - Curitiba/PR</div>
          <div class="property-price">R$ 120.000,00</div>
          <div class="property-size">32,67m² total | 20,54m² útil</div>
          <div class="property-parking">Sem vaga</div>
      </div>
    </div>

    <div class="property-card">
      <div class="property-type">12115.001 Loja</div>
      <div class="property-details">
          <div class="property-location">Av. Sete de Setembro Reboucas 3146 - Curitiba/PR</div>
          <div class="property-price">R$ 120.000,00</div>
          <div class="property-size">32,67m² total | 20,54m² útil</div>
          <div class="property-parking">Sem vaga</div>
      </div>
    </div>

    <div class="property-card">
      <div class="property-type">12115.001 Loja</div>
      <div class="property-details">
          <div class="property-location">Av. Sete de Setembro Reboucas 3146 - Curitiba/PR</div>
          <div class="property-price">R$ 120.000,00</div>
          <div class="property-size">32,67m² total | 20,54m² útil</div>
          <div class="property-parking">Sem vaga</div>
      </div>
    </div>

    <div class="property-card">
      <div class="property-type">12115.001 Loja</div>
      <div class="property-details">
          <div class="property-location">Av. Sete de Setembro Reboucas 3146 - Curitiba/PR</div>
          <div class="property-price">R$ 120.000,00</div>
          <div class="property-size">32,67m² total | 20,54m² útil</div>
          <div class="property-parking">Sem vaga</div>
      </div>
    </div>

    <div class="property-card">
      <div class="property-type">12115.001 Loja</div>
      <div class="property-details">
          <div class="property-location">Av. Sete de Setembro Reboucas 3146 - Curitiba/PR</div>
          <div class="property-price">R$ 120.000,00</div>
          <div class="property-size">32,67m² total | 20,54m² útil</div>
          <div class="property-parking">Sem vaga</div>
      </div>
    </div>
  </div>
</section>


