<section>
    
    <div class="container-form">
        <div class="container-buttons-form">
            <button>    
                Buy
            </button>
            <button>
                Hire
            </button>
        </div>
        <div class="imoveis-form">
            <div class="form-row">
                <label for="tipoImovel">Tipo de imóvel:</label>
                <select id="tipoImovel"></select>
            </div>
            <div class="form-row">
                <label for="cidade">Cidade:</label>
                <input type="text" id="cidade" />
            </div>
            <div class="form-row">
                <label for="bairro">Bairro:</label>
                <input type="text" id="bairro" />
            </div>
        </div>
    </div>
</section>