<section>
    <div class="container-text">
        <h1>Quer<span> entrar em contato?</span></h1>
        <p>Gostaríamos muito de ouvir você. Veja como nos contatar.</p>
    </div>
    <div class="card-container">
        <div class="card">
            <div>
                <img src="/assets/undraw_completed_m9ci.svg" alt="">
            </div>
            <div>
               <h2>Perguntas gerais</h2>
                <p>Envie uma mensagem usando o formulário abaixo e entraremos em contato dentro de um dia útil (normalmente, até antes disso).</p>
                <button>Entre em contato</button> 
            </div>
        </div>
        
        <div class="card" id="card-two">
            <div>
                <img src="/assets/undraw_completed_m9ci.svg" alt="">
            </div>
            <div>
                <h2>Solução de marketing completa</h2>
                <p>Sua empresa está procurando por uma solução de marketing completa? Vamos conversar.</p>
                <button>Entre em contato</button>
            </div>
        </div>
      </div>

    <div class="container-global">
        <div class="container-escritorios">
            <h1>Nossos<span> escritórios</span></h1>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3752.3026572656777!2d-43.99750009999999!3d-19.869438!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xa6911471a010e5%3A0x66f3fca5baa9742!2sR.%20Maria%20C%C3%A2ndida%20de%20Jesus%2C%20747%20-%20Vila%20Paquet%C3%A1%2C%20Belo%20Horizonte%20-%20MG%2C%2031330-460!5e0!3m2!1spt-BR!2sbr!4v1712151012346!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            <div class="box-escritorios">
                <div>
                    <h4>Brasil</h4>
                    <p>Rua Rio Grande do Norte, Belo Horizonte, MG 30130-138 – Brasil</p>
                </div>
                <div>
                    <h4>Brasil</h4>
                    <p>Rua Pequetita, 111 Vila Olímpia São Paulo, SP 04552-060 – Brasil</p>
                </div>
                <div>
                    <h4>Mexico</h4>
                    <p>Paseo de Los Virreyes 45, Puerta Plata Zapopan, Jalisco 45116 – Mexico</p>
                </div>
            </div>
        </div>
        <div class="container-form-contato">
            <div class="box-text">
                <h1>Vamos<span> nos conectar!</span></h1>
                <p>Para perguntas gerais, complete o formulário abaixo e logo entraremos em contato.</p>
            </div>
        </div>
        <div class="container">
            <form action="https://formspree.io/f/meqbynld" method="POST">
                <label>Digite seu email:
                    <input type="email" name="email">
                </label>
                <label> Sua mensagem:
                    <textarea name="message"></textarea>
                </label>
                <button type="submit">Enviar</button>
            </form>
        </div>
    </div>
</section>
