<section class="container">           
    <div class="about">
        <h1>eHz: Locadora de Imoveis</h1>
        <p>
            Explore a diversidade de propriedades exclusivas na eHz Locadora de Imóveis. Encontre o lar perfeito para você, desde aconchegantes apartamentos até casas espaçosas. Descubra detalhes encantadores e faça a escolha certa para sua vida. Clique abaixo para mais informações e inicie sua jornada rumo à casa dos sonhos.
        </p>
        <div>
            <button class="ver-mais-button">Sobre Nós</button>
        </div>
    </div>

    <div>
        <img id="img1" src="../assets/casa-aluguel.png" alt="About-Home"> 
    </div>
</section>

<!-- Linha divisoria -->
<div class="hr-container">
    <hr class="hr">
</div>

<!-- Cards de qualidade -->
<section class="quality-and-safety">
    <div class="card-csspuro">
        <img src="../assets/mini-logo-qualidade.png" alt="Qualidade">
        <br>
        <h2>Qualidade</h2>
        <br>
        <p>Nossas propriedades são cuidadosamente selecionadas para garantir o mais alto padrão de qualidade e conforto.</p>
    </div>

    <div class="card-csspuro">
        <img src="../assets/mini-logo-segurança.png" alt="Segurança">
        <br>
        <h2>Segurança</h2>
        <br>
        <p>Comprometemo-nos a proporcionar ambientes seguros, implementando medidas rigorosas para proteger nossos locatários.</p>
    </div>

    <div class="card-csspuro">
        <img src="../assets/mini-logo-callcenter.png" alt="Atendimento Personalizado">
        <br>
        <h2>Atendimento Personalizado</h2>
        <br>
        <p>Nossa equipe dedicada está pronta para oferecer suporte e atendimento personalizado em todas as etapas do processo de locação.</p>
    </div>
</section>

 <!-- Linha divisoria -->
 <div class="hr-container">
    <hr class="hr">
</div>

<!-- Seção de valores -->
<section class="container">
    <div class="company-values-section">
        <h1>Nossos Valores</h1>
        <br>
        <p>
            Na Vivenda Ideal, nossos valores fundamentais moldam a essência de quem somos e guiam cada interação com nossos clientes. A transparência é o alicerce das nossas relações, assegurando que cada passo do processo de locação seja claro e compreensível. A dedicação ao cliente é a força motriz de nossa equipe, comprometida em oferecer um atendimento personalizado, atendendo às necessidades individuais de cada locatário.
            A integridade permeia cada transação, garantindo que todas as negociações sejam conduzidas com honestidade e respeito. A inovação é a chave para proporcionar experiências habitacionais únicas, utilizando tecnologias modernas para simplificar o processo de locação. Valorizamos a diversidade de propriedades em nosso portfólio, garantindo opções variadas para atender a diferentes estilos de vida. Na Vivenda Ideal, nossa missão vai além de alugar casas; é sobre construir lares que refletem a individualidade e aspirações de cada cliente.
        </p>
    </div>
</section>

<!-- Linha divisoria -->
<div class="hr-container">
    <hr class="hr">
</div>

<!-- Seção de cards Ilustrativos -->
<section class="property-cards-section">
    <div class="property-card">
        <img src="../assets/casa-aluguel-1.png" alt="Casa 1">
        <div class="property-card-content">
            <p>Casa Aconchegante
                Localização: Bairro Tranquilo
                3 quartos, 2 banheiros
                Área: 150 m²</p>
            <p>Preço: R$1.500/mês</p>
        </div>
    </div>
    <div class="property-card">
        <img src="../assets/casa-aluguel-2.png" alt="Casa 2">
        <div class="property-card-content">
            <p>Vista Panorâmica
                Localização: Centro da Cidade
                4 quartos, 3 banheiros
                Área: 200 m²</p>
            <p>Preço: R$2.000/mês</p>
        </div>
    </div>
    <div class="property-card">
        <img src="../assets/casa-aluguel-3.png" alt="Casa 3">
        <div class="property-card-content">
            <p>Design Moderno
                Localização: Condomínio de Luxo
                5 quartos, 4 banheiros
                Área: 180 m²</p>
            <p>Preço: R$1.800/mês</p>
        </div>
    </div>
    <div class="property-card">
        <img src="../assets/casa-aluguel-4.png" alt="Casa 4">
        <div class="property-card-content">
            <p>Estilo Vintage
                Localização: Área Histórica
                3 quartos, 2 banheiros</p>
            <p>Preço: R$2.500/mês</p>
        </div>
    </div>
    <div class="property-card">
        <img src="../assets/casa-aluguel-5.png" alt="Casa 5">
        <div class="property-card-content">
            <p>Próximo à Natureza
                Localização: Subúrbio Arborizado
                4 quartos, 3 banheiros
                Área: 200 m²</p>
            <p>Preço: R$1.700/mês</p>
        </div>
    </div>
    <div class="property-card">
        <img src="../assets/casa-aluguel-6.png" alt="Casa 6">
        <div class="property-card-content">
            <p>Espaço Amplo
                Localização: Área Residencial
                6 quartos, 4 banheiros
                Área: 300 m²</p>
            <p>Preço: R$2.200/mês</p>
        </div>
    </div>
</section>
