<app-header></app-header>

<section class="container">           
    <div class="about">
        <h1>eHz: Locadora de Imoveis</h1>
        <p>
            Explore a diversidade de propriedades exclusivas na eHz Locadora de Imóveis. Encontre o lar perfeito para você, desde aconchegantes apartamentos até casas espaçosas. Descubra detalhes encantadores e faça a escolha certa para sua vida. Clique abaixo para mais informações e inicie sua jornada rumo à casa dos sonhos.
        </p>
        <div>
            <a href="../About/pgnSobre.html"><button class="ver-mais-button">Sobre Nós</button></a>
        </div>
    </div>

    <div>
        <img id="img1" src="../imgs/casa-aluguel.png" width="90%" alt="About-Home"> 
    </div>
</section>