<!-- Rodapé -->
<footer>
    <div class="footer-container">
        <div class="footer-logo">
            <img src="/assets/mini-logo.png" alt="Logo da Empresa">
        </div>
        <div class="footer-contact">
            <p>Endereço da Empresa</p>
            <p>Cidade, Estado, CEP</p>
            <p>Telefone: (xx) xxxxx-xxxx</p>
            <p>E-mail: contato.com</p>
            <p>Website: <a href="http://www.exemplo.com" target="_blank">www.exemplo.com</a></p>
        </div>
        <div class="footer-social">
            <p>Siga-nos nas redes sociais:</p> 
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2023 eHz Store. Todos os direitos reservados.</p>
    </div>
</footer>
