<section>
    <div class="container">
        <h1><span>eHz Locadora de imoveis:</span><br> Uma Evolução na Experiência de Compra e Venda de Imóveis em Dourados e Região</h1>
    </div>
    <div class="hr-container">
        <hr class="hr">
        <hr class="hr2">
    </div>

    <div class="text-img-container">
        <div class="text-container">
            <p>Desde o nosso início com o eHz Store e depois eHz Locadora de Imóveis, nosso sonho sempre foi claro: oferecer a Dourados e Região uma experiência imobiliária mais moderna, atenciosa e abrangente possível.</p>
            <p>Fundada pelos empreendedores Mário Rubens e Mariley, a eHz Locadora de Imóveis começou a mudar o jeito de comprar e vender imóveis na Grande Dourados e no Centro Oeste.</p>
            <p>Mas quem somos nós se não evoluirmos? Antes de mergulharmos no mundo imobiliário, éramos proprietários da Agência de Turismo Mais3 Viagens e Turismo e já atuávamos como corretores de imóveis há mais de duas décadas. Nosso conhecimento e experiência vão além, tendo sido executivos em empresas de setores tão variados quanto distribuição de combustíveis e varejo supermercadista.</p>
            <p>Com o crescimento e as oportunidades emergentes na Grande Dourados e no Centro Oeste, percebemos que era o momento de dar um passo à frente. É por isso que nos transformamos: a eHz Locadora de Imóveis agora é eHz Locadora de Imóveis, com foco renovado em propriedades de médio e alto padrão.</p>
            <p>Para você, investidor ou proprietário, isso significa ainda mais benefícios. Continuamos a oferecer a mesma atenção e segurança que nos deram mais de 20 anos de sucesso em diversos ramos de atividade. Mas agora, nossa abordagem é ainda mais especializada e voltada para as particularidades e luxos do mercado de médio e alto padrão.</p>
            <p>Em resumo, a eHz Locadora de Imóveis não é apenas uma mudança de nome. É uma evolução natural de quem sempre buscou oferecer o melhor em cada detalhe. Venha fazer parte dessa nova etapa conosco.</p>
        </div>
        <img src="/assets/sapiens.png" width="610vw">
    </div>

</section>

<section>
  <div class="external">
    <div class="horizontal-scroll-wrapper">
      <div class="img-wrapper slower">
        <a href="https://altphotos.com/photo/stylish-parisian-cafe-terrace-279/" target="_blank" rel="noopener"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/74321/paris-cafe-terrace.jpg" alt="">
        </a>
      </div>

      <div class="img-wrapper faster">
        <a href="https://altphotos.com/photo/retro-boy-doll-wearing-elegant-clothes-330/" target="_blank" rel="noopener">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/74321/antiquedollboy.jpg" alt="">
        </a>
      </div>

      <div class="img-wrapper slower vertical">
        <a href="https://altphotos.com/photo/clocks-shop-exposition-window-reflecting-the-streets-277/" target="_blank" rel="noopener">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/74321/windowshopclock.jpg" alt="">
        </a>
      </div>

      <div class="img-wrapper slower slower-down">
        <a href="https://altphotos.com/photo/swans-and-ducks-swimming-in-a-river-264/" target="_blank" rel="noopener">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/74321/swanduckriver.jpg" alt="">
        </a>
      </div>

      <div class="img-wrapper">
        <a href="https://altphotos.com/photo/sidewalk-terrace-of-a-blue-facade-cafe-312/" target="_blank" rel="noopener">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/74321/cafe-terrace.jpg" alt="">
        </a>
      </div>

      <div class="img-wrapper slower">
        <a href="https://altphotos.com/photo/paris-waterfront-at-sunset-1555/" target="_blank" rel="noopener">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/74321/paris-seine-boat.jpg" alt="">
        </a>
      </div>

      <div class="img-wrapper faster1">
        <a href="https://altphotos.com/photo/old-man-leaning-over-the-barrier-looking-at-the-river-265/" target="_blank" rel="noopener">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/74321/old-man-river.jpg" alt="">
        </a>
      </div>

      <div class="img-wrapper slower slower2">
        <a href="https://altphotos.com/photo/cafe-terrace-with-a-row-of-retro-tables-261/" target="_blank" rel="noopener">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/74321/cafe-table-street.jpg" alt="">
        </a>
      </div>

      <div class="img-wrapper">
        <a href="https://altphotos.com/photo/street-scene-with-pedestrians-and-dogs-318/" target="_blank" rel="noopener">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/74321/street-scene-people.jpg" alt="">
        </a>
      </div>

      <div class="img-wrapper slower">
        <a href="https://altphotos.com/photo/tourist-barge-on-the-river-seine-near-notre-dame-266/" target="_blank" rel="noopener">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/74321/notre-dame-river-boat.jpg" alt="">
        </a>
      </div>

      <div class="img-wrapper slower last">
        <a href="https://altphotos.com/photo/skulls-decoration-in-a-shop-window-331/" target="_blank" rel="noopener">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/74321/shop-window-reflection.jpg" alt="">
        </a>
      </div>
    </div>
  </div>
</section>
