<section>
    <h1>eHz Locadora de imoveis: <br> Uma Evolução na Experiência de Compra e Venda de Imóveis em Dourados e Região</h1>

    <div class="hr-container">
        <hr class="hr">
    </div>

    <div class="text-container">
        <p>Desde o nosso início com o eHz Store e depois eHz Locadora de Imóveis, nosso sonho sempre foi claro: oferecer a Dourados e Região uma experiência imobiliária mais moderna, atenciosa e abrangente possível.</p>
        <p>Fundada pelos empreendedores Mário Rubens e Mariley, a eHz Locadora de Imóveis começou a mudar o jeito de comprar e vender imóveis na Grande Dourados e no Centro Oeste.</p>
        <p>Mas quem somos nós se não evoluirmos? Antes de mergulharmos no mundo imobiliário, éramos proprietários da Agência de Turismo Mais3 Viagens e Turismo e já atuávamos como corretores de imóveis há mais de duas décadas. Nosso conhecimento e experiência vão além, tendo sido executivos em empresas de setores tão variados quanto distribuição de combustíveis e varejo supermercadista.</p>
        <p>Com o crescimento e as oportunidades emergentes na Grande Dourados e no Centro Oeste, percebemos que era o momento de dar um passo à frente. É por isso que nos transformamos: a eHz Locadora de Imóveis agora é eHz Locadora de Imóveis, com foco renovado em propriedades de médio e alto padrão.</p>
        <p>Para você, investidor ou proprietário, isso significa ainda mais benefícios. Continuamos a oferecer a mesma atenção e segurança que nos deram mais de 20 anos de sucesso em diversos ramos de atividade. Mas agora, nossa abordagem é ainda mais especializada e voltada para as particularidades e luxos do mercado de médio e alto padrão.</p>
        <p>Em resumo, a eHz Locadora de Imóveis não é apenas uma mudança de nome. É uma evolução natural de quem sempre buscou oferecer o melhor em cada detalhe. Venha fazer parte dessa nova etapa conosco.</p>
    </div>
    
</section>